@model List<MvcKutuphane.Models.Entity.TBLKATEGORI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Kategoriler</h2>

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Sil</th>
        <th>Kategori Güncelle</th>
    </tr>

    @foreach (var ktg in Model) 
    {
    <tr>
        <td>@ktg.ID</td>
        <td>@ktg.AD</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>

    }
</table>
<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Kategori Ekle</a>