@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div style=" margin-bottom:15px"></div>

    <div class="form-group">
        @Html.LabelFor(k => k.ID)   @* SÜTUN ADI NEYSE O GELSİN *@
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label>Kategori Ad</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-con    trol" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}
